<div class="col-xs-12 text-center">
  <h1>Nos supers cocktails</h1>
</div>


<% @cocktails.each do |cocktail| %>
  <div class="col-xs-12 col-sm-4">
  <%= render 'cocktail_card', cocktail: cocktail %>
  </div>
<% end %>
